@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-light.eot");
  src: url("../fonts/alleyn/alleyn-light.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-light.woff2") format("woff2"), url("../fonts/alleyn/alleyn-light.woff") format("woff"), url("../fonts/alleyn/alleyn-light.ttf") format("truetype"), url("../fonts/alleyn/alleyn-light.otf") format("opentype"), url("../fonts/alleyn/alleyn-light.svg#svgFontName") format("svg");
  font-weight: 200;
  font-style: normal;
}  
@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-light-italic.eot");
  src: url("../fonts/alleyn/alleyn-light-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-light-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-light-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-light-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-light-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-light-italic.svg#svgFontName") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-book.eot");
  src: url("../fonts/alleyn/alleyn-book.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-book.woff2") format("woff2"), url("../fonts/alleyn/alleyn-book.woff") format("woff"), url("../fonts/alleyn/alleyn-book.ttf") format("truetype"), url("../fonts/alleyn/alleyn-book.otf") format("opentype"), url("../fonts/alleyn/alleyn-book.svg#svgFontName") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-book-italic.eot");
  src: url("../fonts/alleyn/alleyn-book-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-book-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-book-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-book-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-book-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-book-italic.svg#svgFontName") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-regular.eot");
  src: url("../fonts/alleyn/alleyn-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-regular.woff2") format("woff2"), url("../fonts/alleyn/alleyn-regular.woff") format("woff"), url("../fonts/alleyn/alleyn-regular.ttf") format("truetype"), url("../fonts/alleyn/alleyn-regular.otf") format("opentype"), url("../fonts/alleyn/alleyn-regular.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-regular-italic.eot");
  src: url("../fonts/alleyn/alleyn-regular-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-regular-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-regular-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-regular-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-regular-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-regular-italic.svg#svgFontName") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-medium.eot");
  src: url("../fonts/alleyn/alleyn-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-medium.woff2") format("woff2"), url("../fonts/alleyn/alleyn-medium.woff") format("woff"), url("../fonts/alleyn/alleyn-medium.ttf") format("truetype"), url("../fonts/alleyn/alleyn-medium.otf") format("opentype"), url("../fonts/alleyn/alleyn-medium.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-medium-italic.eot");
  src: url("../fonts/alleyn/alleyn-medium-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-medium-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-medium-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-medium-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-medium-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-medium-italic.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-semibold.eot");
  src: url("../fonts/alleyn/alleyn-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-semibold.woff2") format("woff2"), url("../fonts/alleyn/alleyn-semibold.woff") format("woff"), url("../fonts/alleyn/alleyn-semibold.ttf") format("truetype"), url("../fonts/alleyn/alleyn-semibold.otf") format("opentype"), url("../fonts/alleyn/alleyn-semibold.svg#svgFontName") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-semibold-italic.eot");
  src: url("../fonts/alleyn/alleyn-semibold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-semibold-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-semibold-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-semibold-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-semibold-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-semibold-italic.svg#svgFontName") format("svg");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-bold.eot");
  src: url("../fonts/alleyn/alleyn-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-bold.woff2") format("woff2"), url("../fonts/alleyn/alleyn-bold.woff") format("woff"), url("../fonts/alleyn/alleyn-bold.ttf") format("truetype"), url("../fonts/alleyn/alleyn-bold.otf") format("opentype"), url("../fonts/alleyn/alleyn-bold.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Alleyn";
  src: url("../fonts/alleyn/alleyn-bold-italic.eot");
  src: url("../fonts/alleyn/alleyn-bold-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/alleyn/alleyn-bold-italic.woff2") format("woff2"), url("../fonts/alleyn/alleyn-bold-italic.woff") format("woff"), url("../fonts/alleyn/alleyn-bold-italic.ttf") format("truetype"), url("../fonts/alleyn/alleyn-bold-italic.otf") format("opentype"), url("../fonts/alleyn/alleyn-bold-italic.svg#svgFontName") format("svg");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/opensans-bold-webfont.eot");
  src: url("../fonts/openSans/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-bold-webfont.woff") format("woff"), url("../fonts/openSans/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-bold-webfont.svg#open_sansbold") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/opensans-regular-webfont.eot");
  src: url("../fonts/openSans/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-regular-webfont.woff") format("woff"), url("../fonts/openSans/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "openSans";
  src: url("../fonts/openSans/opensans-semibold-webfont.eot");
  src: url("../fonts/openSans/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/openSans/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/openSans/opensans-semibold-webfont.woff") format("woff"), url("../fonts/openSans/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/openSans/opensans-semibold-webfont.svg#open_sansregular") format("svg");
  font-weight: 600;
  font-style: normal;
}