<div class="app-footer">
  <div class="grid-row">
    <div class="grid-col-1-4">
        <a class="nav-app-name-footer"></a>
    </div>
    <div class="grid-col-3-4">
      <ul>
        <a href="/">关于我</a>
        <a href="/blog">博文</a>
        <a href="/photography">摄影</a>
        <a href="/bless">留言</a>
      </ul>
      <p>个人博客，用于记录分享生活和工作的点点滴滴。愿与君共同分享，一起进步！</p>
    </div>
   
    <!-- 下面这段用css隐藏起来了 -->
    <div class="grid-box-full hidden">
      <form class="form-search" action="//www.baidu.com/baidu">
        <input name=word type="text" maxlength="100" ><input type="submit" value="搜索">
        <input name=tn type=hidden value="bds">
        <input name=cl type=hidden value="3">
        <input name=ct type=hidden value="2097152">
        <input name=si type=hidden value="bh-lay.com">
      </form>
      {{{version}}}
    </div>
  </div>
</div>
